<%
@document_title = 'ゲーム結果'
%>
<p>あなたの手は</p>
<div>
  <%= image_of_hand(@player_hand) %>
</div>
<p>
  コンピュータの手は
</p>
<div>
  <%= image_of_hand(@computer_hand) %>
</div>
<p>
  <%=
    case @result
      when 'aiko'
      'アイコです'
      when 'kachi'
        '勝ちです'
      when 'make'
        '負けです'
    end
  %>
</p>
<p>
  <%= link_to 'トップページへ', root_path %><br>
  <%= link_to 'もう一度', :action => 'start' %>
</p>