<%
  @document_title = 'ゲーム開始'
  hand_names = %w(gu choki pa)
  alt_texts = %w(ぐ　チョキ　パ)
%>
<p>あなたの手を選んでください。</p>
<div>
<% 0.upto(2) do |index| %>
  <%= link_to(image_tag(index.to_s+'.gif'), game_result_path(hand:index)) %>
  <% end %>
</div>