/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div.header, div.footer {
    color: #fff;
    background-color: #666;
    padding: 5px;
    text-align: center;
}
div.header {
    font-size: 200%;
}
div.footer{
    font-size: 90%;
}
div.main{
    margin: 10px;
    padding: 40px;
    border:solid 2px #666;
    text-align: center;
    font-size: 120%;
}