<html>
<head>
  <%= stylesheet_link_tag 'application' %>
  <meta http-equiv="content-type"
        content="text/html; charset=UTF-8"/>
  <title><%= h @document_title %></title>
</head>
<body>
<div class="header">
  じゃんけんゲーム
</div>
<div class="main">
  <%= yield %>
</div>
<div class="footer">
  Powered by Ruby on Rails
</div>
</body>
</html>